<!DOCTYPE html>
<html>
  <body>
<meta name="viewport" content="device-width, initial-scale=1.0" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.
css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<script src="https://open.spotify.com/embed-podcast/iframe-api/v1" async></script>

<script>
  // Set up vars
  var selectedSong = ''

  var songs = {{songs|safe}}
  var answer = {{song|safe}}
  var random_selection = {{uri|safe}}
  var youtube_url = {{youtube|safe}}

  console.log(youtube_url)

  var guesses = 0;
  var doneGuessing = false;
  var timeout = 1000;

  function handleGuesses() {
    guesses++;
    // Set timeout based on number of guesses used
    switch(guesses) {
      case 1:
        timeout = 2000;
        break;
      case 2:
        timeout = 4000;
        break;
      case 3:
        timeout = 7000;
        break;
      case 4:
        timeout = 11000;
        break;
      case 5:
        timeout = 16000;
        break;
      case 6:
        timeout = -1;
        break;
    }

    if(guesses >= 6)
          doneGuessing = true;
  }

  // JQuery stuff
  $( function() {

    // Autocomplete box - set to only display 10 results
    $( "#songtag" ).autocomplete({
      source: function(request, response) {
        var results = $.ui.autocomplete.filter(songs, request.term);
        response(results.slice(0, 10));
      },
      select: function(event, ui) {
        selectedSong = ui.item.value;
      }
    });

    // Submit button
    $("#button").click(function() {
      if(!doneGuessing) {
        handleGuesses()

        if(selectedSong == answer) {
          alert("You have guessed the song!")
          doneGuessing = true;
          player.playVideo();
          timeout = -1;
        }
        else if(selectedSong != '') {
          if(guesses < 6)
            alert("Incorrect guess. You have " + (6 - guesses) + " remaining guesses");
          else {
            alert("Incorrect guess. The answer was " + answer);
            player.playVideo();
            timeout = -1;
          }
        }
      }
    });

    $("#skip-button").click(function() {
      if(!doneGuessing) {
        handleGuesses();
        $(".skip-button .value").html((guesses.valueOf() + 1))
        onPlayerStateChange(YT.PlayerState.PLAYING);
      }
      if(guesses >= 6) {
        timeout = -1;
      }
      player.playVideo();
      console.log(guesses);
    })

    // Display answer in page
    $(".content .value").html(answer);
    $(".skip-button .value").html((guesses.valueOf() + 1))
    // Messing around with spotify player
    $(".player").attr("src", "https://open.spotify.com/embed/track/" + random_selection + "#0:00?utm_source=generator").hide();
  });
  // 2. This code loads the IFrame Player API code asynchronously.
  var tag = document.createElement('script');

  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  // 3. This function creates an <iframe> (and YouTube player)
  //    after the API code downloads.
  var player;
  function onYouTubeIframeAPIReady() {
    player = new YT.Player('player', {
      height: '320',
      width: '640',
      videoId: youtube_url,
      playerVars: {
        'playsinline': 1
      },
      events: {
        'onReady': onPlayerReady,
        'onStateChange': onPlayerStateChange
      }
    });
    // document.getElementById('player').style.display = 'none';
  }

  // 4. The API will call this function when the video player is ready.
  function onPlayerReady(event) {
    console.log('Player loaded')
  }

  // 5. The API calls this function when the player's state changes.
  //    The function indicates that when playing a video (state=1),
  //    the player should play for six seconds and then stop.
  function onPlayerStateChange(event) {
    if (event.data == YT.PlayerState.PLAYING && timeout != -1) {
      setTimeout(stopVideo, timeout);
    }
  }

  function stopVideo() {
    player.stopVideo();
  }

</script>

<div class="ui-widget">
    <h3>Enter Song Title or Artist</h3>
        <input id="songtag">

    <div class="content">
      Selected song: <span class='value'></span>
    </div>

    <div id="button"> Submit </div>

    <div id="player"></div>

    <div class="skip-button" id="skip-button">
      SKIP (+ <span class='value'></span> s)
    </div>
</div>
</body>
</html>