<!DOCTYPE html>
<html>
  <body>
    <meta name="viewport" content="device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <style>
        .ui-autocomplete {
            max-height: 200px;
            overflow-y: auto;
            overflow-x: hidden;
        }
    </style>

    <script async>
        // Set up vars
        var selectedSong = ''

        var songs = {{songs|safe}}
        var answer = {{song|safe}}
        var random_selection = {{uri|safe}}
        var youtube_url = {{youtube|safe}}

        var guesses = 0;
        var doneGuessing = false;
        var timeout = 1000;
        var timeoutId = null;

        var maxTimeout = 170000;
        var current = 0;
        var fix = false;
        var loaded = false;
        var loaded16 = false;

        function handleGuesses() {
            guesses++;

            if(timeoutId != null)
                clearTimeout(timeoutId);

            // Set timeout based on number of guesses used
            switch(guesses) {
                case 1:
                    timeout = 2500;
                    break;
                case 2:
                    timeout = 4000;
                    break;
                case 3:
                    timeout = 7000;
                    break;
                case 4:
                    timeout = 11000;
                    break;
                case 5:
                    timeout = 16000;
                    break;
                case 6:
                    timeout = maxTimeout;
                    break;
            }

            if(guesses >= 6)
                doneGuessing = true;

            timeoutId = setTimeout(stopVideo, timeout);
            console.log(timeout);
        }

        function displaySkip() {
            if(guesses + 1 < 6)
                $(".skip-button .value").html((guesses.valueOf() + 1))
            else if(guesses + 1 == 6)
                $(".skip-button").html("SKIP");
            else {
                $(".skip-button").html("SKIPPED");
                alert("The answer was " + answer);
            }
        }

        // JQuery stuff
        $( function() {
            // Autocomplete box - set to only display 10 results
            $( "#songtag" ).autocomplete({
            source: function(request, response) {
                var results = $.ui.autocomplete.filter(songs, request.term);
                response(results);
               // response(results.slice(0, 10));
            },
            select: function(event, ui) {
                selectedSong = ui.item.value;
            }
            })

            // Submit button
            $("#button").click(function() {
                if(doneGuessing) return;

                handleGuesses();
                displaySkip();

                if (timeoutId != null)
                    clearTimeout(timeoutId);

                if(selectedSong == answer) {
                    alert("You have guessed the song!")
                    doneGuessing = true;
                    timeout = maxTimeout;

                }
                else if(selectedSong != '') {
                    if(guesses < 6)
                        alert("Incorrect guess. You have " + (6 - guesses) + " remaining guesses");
                    else {
                        alert("Incorrect guess. The answer was " + answer);
                        player.play();
                        timeout = maxTimeout;
                    }
                    console.log(guesses);
                }
            });

            $("#skip-button").click(function() {
                if(doneGuessing) return;

                handleGuesses();
                displaySkip();
                console.log(player.getCurrentTime());

                // if (timeoutId != null)
                //  clearTimeout(timeoutId);

                //player.playVideo();
            })

            // Display answer in page
            // $(".content .value").html(answer);
            displaySkip();
        });

        function test() {
            if(player.getPlayerState() == YT.PlayerState.PLAYING) {
                console.log(timeout, loaded16)
                if(!loaded16 && timeout == 16000) {
                    console.log("loaded")
                    player.seekTo(15, true);
                    loaded16 = true;
                    setTimeout(function(){player.seekTo(0)}, 10);
                }
                if(player.getCurrentTime() != 0) {
                    current = player.getCurrentTime();
                }
                if(fix) {
                    player.seekTo(current);
                    fix = false;
                }
                var ct = Math.round(current * 10) / 10
                console.log(ct, timeout / 1000);
                if(ct == timeout / 1000) {
                    player.pauseVideo();
                    player.seekTo(0, true);
                }
            }
        }

        function stopVideo() {
            player.stopVideo();
        }

    </script>
    <h3>Enter Song Title or Artist</h3>
    <div class="ui-widget" .ui-helper-hidden-accessible { position: absolute; left: -9999px; }>
        <input id="songtag">
    </div>
    <div class="content">Selected song: <span class='value'></span></div>
    <div id="button"> Submit </div>

    <script type="text/javascript" charset="utf-8">
        var socket = io();
        socket.on('loading', function() {
            console.log(answer);

            let artist = answer.substring(0, answer.indexOf(" - "));
            let song = answer.substring(answer.indexOf(" - ") + 3);
            path = '/downloads/' + artist + '/' + song + '.mp3';

            $('#loading').hide();
            $('#player').show();
            var audioPlayer = document.getElementById('audio-player');
            audioPlayer.src = path;
            audioPlayer.load();

            audioPlayer.addEventListener('timeupdate', function() {
                if(audioPlayer.currentTime >= timeout / 1000) {
                    audioPlayer.pause();
                    audioPlayer.currentTime = 0;
                }
            });
        });
    </script>
    <div id="loading">Loading player...</div>
    <div id="player" style="display: none;">
        <audio controls id="audio-player"></audio>
    </div>

    <div class="skip-button" id="skip-button">
        SKIP (+ <span class='value'></span> s)
    </div>
    </body>
</html>